.cursor {
  display: inline-block;
  margin-left: 0.1em;
  color: var(--accentText);
  animation: blink 1s step-end infinite;
}

.cursor[data-done='true'] {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
